.yg-cart {
    .yg-cart-header {
        height          : 50px;
        width           : 100vw;
        padding         : 0 10px;
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        background-color: var(--themeColor);

        i.icon.icon-return {}

        .yg-cart-title {
            color      : white;
            font-size  : 20px;
            font-weight: normal;
        }

        .yg-cart-edit {
            color      : white;
            font-size  : 16px;
            font-weight: normal;
        }
    }

    .yg-cart-list {
        .cart-list-item {
            .list-item-shop {
                height     : 46px;
                width      : 100vw;
                padding    : 0 10px;
                display    : flex;
                align-items: center;

                /*no*/
                i.icon.icon-radio {}

                img {
                    margin-left: 9px;
                    width      : 30px;
                    height     : 30px;
                }

                span.list-item-title {
                    margin-left: 9px;
                    font-size  : 17.5px;
                    color      : #333333;
                }
            }

            .list-item-content {
                height       : 118px;
                width        : 100vw;
                margin-bottom: 10px;
                padding      : 10px;
                border-bottom: 1px solid #ddd;
                /*no*/
                border-top   : 1px solid #ddd;
                /*no*/
                display      : flex;

                .item-content-left {
                    display    : flex;
                    align-items: center;

                    img {
                        width       : 96px;
                        height      : 96px;
                        margin-right: 10px;
                    }

                    .item-content-desc {
                        span.content-desc-title {
                            line-height       : 28px;
                            overflow          : hidden;
                            color             : #1a1a1a;
                            font-size         : 20px;
                            overflow-wrap     : break-word;
                            text-overflow     : ellipsis;
                            display           : -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }

                        span.content-desc-type {
                            color             : #737373;
                            font-size         : 13px;
                            line-height       : 20px;
                            overflow          : hidden;
                            text-overflow     : ellipsis;
                            display           : -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }

                        .content-desc-bottom {
                            display        : flex;
                            justify-content: space-between;
                            width          : 239px;
                            height         : 28px;

                            span.content-desc-price {
                                color             : var(--themeColor);
                                font-size         : 17.5px;
                                line-height       : 28px;
                                overflow          : hidden;
                                text-overflow     : ellipsis;
                                display           : -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                text-size-adjust  : 100%;
                            }

                            .item-content-right {
                                display    : flex;
                                align-items: center;

                                i.icon.icon-sub {
                                    margin: 5px;
                                }

                                span.content-right-num {
                                    color             : #1a1a1a;
                                    font-size         : 20px;
                                    margin            : 5px;
                                    height            : 20px;
                                    line-height       : 20px;
                                    overflow          : hidden;
                                    text-overflow     : ellipsis;
                                    display           : -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                }

                                i.icon.icon-add {
                                    margin: 5px;
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    .yg-cart-tool {
        position       : fixed;
        left           : 0;
        bottom         : 66px;
        width          : 100vw;
        height         : 56px;
        padding        : 0 15px;
        display        : flex;
        justify-content: space-between;
        border-top     : 1px solid #ddd;

        .cart-tool-left {
            height     : 56px;
            line-height: 56px;

            span.tool-left-totalPrice {
                color    : #ee394a;
                font-size: 17.5px;
            }
        }

        .cart-tool-right {
            display    : flex;
            align-items: center;

            span.tool-right-pay {
                font-size       : 15px;
                border-radius   : 5px;
                display         : inline-block;
                color           : white;
                width           : 61px;
                border-color    : #ee394a;
                height          : 40px;
                line-height          : 40px;
                text-align: center;
                background-color: var(--themeColor);
            }
        }
    }
}