/*-- 轮播图 banner --*/
.m-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
  .ks_wrap {
    width: 100%;
  }
  .ks_ts {
    -webkit-transition: 500ms;
  }
  .ks_dbox {
    display: -webkit-box;
    width: 100%;
    text-align: left;
  }
  .ks_wt {
    display: -webkit-box;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
  }
  .ks_wt li {
    list-style: none;
    text-align: center;
    color: #fff;
  }
  .ks-circles {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .ks_wt_1 .ks_wt li {
    line-height: 35px;
    height: 35px;
    border-right: solid 1px #bbb;
    -webkit-box-flex: 1;
  }
  .ks-circles .ks_wt li {
    overflow: hidden;
    width: 12px;
    height: 3px;
    margin: 10px 5px;
    text-indent: 20px;
    background-color: #fff;
  }
  .ks_wt_1 .ks_wt .active {
    color: #000;
    background: -webkit-linear-gradient(top, #e7e7e7 0, #dfdfdf 100%);
  }
  .ks-circles .ks_wt .active {
    -webkit-animation: kt2 .8s ease-in-out;
    background: #ee394a;
  }
  @-webkit-keyframes kt2 {
    0% {
        -webkit-transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
  }