.yg-toolbar-footer {
  z-index: 100;
  position  : fixed;
  bottom    : 0;
  height    : 66px;
  width     : 100vw;
  display   : flex;
  border-top: 1px solid #ddd;
  background-color: #fff;
  /*no*/
  .yg-toolbar-active {
    color: var(--themeColor);
  }

  .footer-index {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    i.icon.icon-home {}

    span {
      font-size: 16px;
    }
  }

  .footer-community {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    i.icon.icon-community {}

    span {
      font-size: 16px;
    }
  }

  .footer-cart {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    i.icon.icon-cart {}

    span {
      font-size: 16px;
    }
  }

  .footer-my {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    i.icon.icon-my {}

    span {
      font-size: 16px;
    }
  }
}